#header-nav {
  background-color: #b3b3b3;
  border-radius: 0;
  border: 0;
}

.navbar-brand{ /*Food,LLC*/
	text-align: left;
}

#nav-list {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  background-color: #e6e6e6;
}

#nav-list a:hover {
  background: #b3b3b3;
}

#page-heading {
	text-align: center;
}

#description{
	height: 1000px;
	padding:10px;
	background-color: #b3b3b3;
	margin:10px;
}

#menu-tile p {
	width:100%;
	text-align: center;
	font-size:1.2em;
	font-weight: bold;
}
